<h3>{{model.content}}</h3>
<h4>By: {{model.author}}</h4>
<h6>{{model.note}}</h6>

{{update-question question=model update='update' delete='delete'}}
{{new-answer saveAnswer="saveAnswer" question=model}}

{{#link-to 'index'}}Home{{/link-to}}
